html, body {
  font-family: 'Nunito', 'Helvetica Neue';
  margin: 0;
  color: #3e454c;
  background-color: #fafafa;
  height: 100%;
}

/* Entire app layout uses new CSS grid */
.grid-main {
  display: grid;
  grid-template-columns: 275px repeat(11, 1fr);
  grid-template-rows:80px auto 80px;
  grid-template-areas:
    "sidenav navbar navbar navbar navbar navbar navbar navbar navbar navbar navbar navbar"
    "sidenav content content content content content content content content content content content"
    "sidenav footer footer footer footer footer footer footer footer footer footer footer";
  height: 100%;
}

/* Define grid containers/areas */
.navbar {
  grid-area: navbar;
}

.side-nav {
  grid-area: sidenav;
}

.content {
  grid-area: content;
}

.footer {
  grid-area: footer;
}

/* Holds the album cards; make them fully responsive */
.card-grid-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  grid-auto-rows: 220px;
  grid-gap: 18px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 35px;
}

/* Flex util class */
.flex-container {
  display: flex;
}