html, body {
  font-family: 'Nunito', 'Helvetica Neue';
  margin: 0;
  color: $color-mako;
  background-color: #fafafa;
  height: 100%;
}

/* React app entry point should be full height */
#root {
  height: 100%;
}

/* Entire app layout uses new CSS grid */
.grid-main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 65px auto 65px;
  grid-template-areas:
    "navbar"
    "content"
    "footer";
  height: 100%;
  overflow-x: hidden; // for mobile-responsive side nav
}

/* Define grid containers/areas */
.navbar {
  grid-area: navbar;
}

.side-nav {
  grid-area: sidenav;
}

.content {
  grid-area: content;
  background-color: #EAEDF1;
}

.footer {
  grid-area: footer;
}

.card-container {
  padding: 28px 40px 40px;
  margin: 35px 35px 35px;
  max-width: 1340px;
  background-color: $color-white;
}

/* Holds the album cards; make them fully responsive */
.card-grid-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(195px, 1fr));
  grid-auto-rows: 195px;
  grid-gap: 20px;
}

/* Flex util class */
.flex-container {
  display: flex;
}

@media screen and (min-width: 46.875em) {
  .grid-main {
    grid-template-columns: $sidenav-width 1fr;
    grid-template-areas:
      "sidenav navbar"
      "sidenav content"
      "sidenav footer";
  }
}