// Style vars for spotify api app

$color-gray-light: #fafafa;
$color-wild-sand: #f5f5f5;
$color-trout: #495259;
$color-orange: #FFA500;
$color-white: #fff;
$color-fiord: #394263;
$color-persian-green: #00afaa;
$color-white-smoke: whitesmoke;
$color-havelock-blue: #559ADF;
$color-half-baked: #96C0CE; // light greenish footer/side nav title
$color-cornflower-blue: #599bf1; // play control icons