html, body {
  font-family: 'Nunito', 'Helvetica Neue';
  margin: 0;
  color: #3e454c;
  background-color: #fafafa;
  height: 100%; }

/* Entire app layout uses new CSS grid */
.grid-main {
  display: grid;
  grid-template-columns: 275px repeat(11, 1fr);
  grid-template-rows: 80px auto 80px;
  grid-template-areas: "sidenav navbar navbar navbar navbar navbar navbar navbar navbar navbar navbar navbar" "sidenav content content content content content content content content content content content" "sidenav footer footer footer footer footer footer footer footer footer footer footer";
  height: 100%; }

/* Define grid containers/areas */
.navbar {
  grid-area: navbar; }

.side-nav {
  grid-area: sidenav; }

.content {
  grid-area: content; }

.footer {
  grid-area: footer; }

/* Holds the album cards; make them fully responsive */
.card-grid-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  grid-auto-rows: 220px;
  grid-gap: 18px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 35px; }

/* Flex util class */
.flex-container {
  display: flex; }

.navbar {
  display: flex;
  box-shadow: 0px 2px 3px -1px #ccc;
  background-color: slategray; }
  .navbar__link {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    justify-content: center;
    padding: 1.4rem;
    cursor: pointer;
    color: #ccc;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1.2px; }
    .navbar__link:after {
      content: "";
      position: absolute;
      display: block;
      right: 50%;
      width: 0;
      height: 2px;
      background: #CEF;
      transition: width .3s;
      transform: translateX(50%);
      bottom: 14px;
      border-radius: 2px; }
    .navbar__link:hover:after {
      width: 50%; }
    .navbar__link.active:after {
      width: 50%; }

.side-nav {
  display: flex;
  flex: 2;
  flex-direction: column;
  background-color: #fff;
  box-shadow: 0 1px 1px 0px rgba(0, 0, 0, 0.2); }
  .side-nav__title {
    background-color: #96C0CE;
    font-weight: bold;
    font-size: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    /* matches grid row  height */
    color: rgba(255, 255, 255, 0.7);
    letter-spacing: 2.5px; }
  .side-nav__list {
    padding-left: 40px; }
  .side-nav__list-item {
    position: relative;
    list-style-type: none;
    cursor: pointer;
    padding: 12px; }
    .side-nav__list-item.active {
      color: #1779ba;
      font-weight: bold; }
      .side-nav__list-item.active:after {
        content: "";
        display: block;
        position: absolute;
        height: 1px;
        width: 60%;
        background-color: #ccc;
        bottom: 6px; }

.card {
  overflow: hidden;
  border-radius: 2px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2); }
  .card--artist, .card--category {
    opacity: .8; }
    .card--artist:hover, .card--category:hover {
      opacity: 1;
      cursor: pointer; }
  .card__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1);
    border-radius: 2px;
    opacity: .8;
    transition: all .3s ease-in-out; }
    .card__img:hover {
      transform: scale(1.05);
      cursor: pointer;
      opacity: .9; }

.playlist {
  display: flex;
  flex-direction: column; }
  .playlist__info-wrapper {
    display: flex;
    margin-bottom: 20px; }
  .playlist__text-wrapper {
    display: flex;
    flex-direction: column;
    padding: 20px; }
  .playlist__img {
    width: 230px;
    height: 230px;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 3px; }
  .playlist__title {
    font-size: 33px;
    color: gray; }
  .playlist__description {
    font-size: 18px; }

.track-table {
  width: 100%;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
  outline: none;
  color: #3e454c;
  border-collapse: collapse;
  background-color: #fff;
  border-radius: 3px; }
  .track-table__header {
    color: #3e454c; }
  .track-table__th {
    padding: 20px;
    color: #3e454c;
    text-align: left;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2); }
  .track-table__td {
    padding: 16px;
    color: #3e454c;
    border-bottom: 1px solid rgba(0, 0, 0, 0.06); }
  .track-table__control-icon {
    display: flex;
    margin-left: 6px;
    fill: #599bf1; }
    .track-table__control-icon:hover {
      cursor: pointer;
      fill: #2179ec; }

.search {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.5rem; }
  .search__input-wrapper {
    position: relative;
    display: flex;
    width: 80%;
    max-width: 750px; }
  .search__input {
    height: 55px;
    width: 100%;
    max-width: 750px;
    font-family: inherit;
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 2px;
    overflow: hidden;
    outline: none;
    border: 1px solid transparent;
    transition: border 0.1s ease-out;
    color: #505050;
    font-size: 1.2rem;
    box-shadow: 0px 0 1px 1px rgba(0, 0, 0, 0.08);
    padding: 1rem;
    font-weight: 300; }
    .search__input:focus {
      border-bottom: 1px solid #e5e5e5; }
  .search__icon {
    position: absolute;
    top: 12px;
    right: 16px; }

.footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: #96C0CE;
  color: #fff; }
