.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: $color-half-baked

  &__brand {
    color: $color-white;
  }

  &__signature {
    color: $color-white;
  }
}