// Main content area heading

.header-main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 35px 35px 0;
  padding: 0 20px;
  background-color: $color-white;

  &__heading {
    font-weight: 400;
    color: $color-orange;
  }

  &__pagination {
    font-weight: 300;
  }
}
