// Main application navbar

.navbar {
  display: flex;
  box-shadow: 0px 2px 3px -1px #ccc;
  background-color: $color-white;

  &__link {
    position: relative;
    display: flex;
    // flex-direction: column; // for link and underline pseudo element stacking
    flex: 1;
    align-items: center;
    justify-content: center;
    padding: 1.4rem;
    cursor: pointer;
    color: #98a6ad;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    font-weight: 300;

    // Link icons
    .fas {
      margin: 10px;
    }

    &:after {
      content: "";
      position: absolute;
      display: block;
      right: 50%;
      width: 0;
      height: 2px;
      background: rgba(119, 125, 131, 0.3);
      transition: width .3s;
      transform: translateX(53%);
      bottom: 14px;
      border-radius: 2px;
    }

    &:hover:after {
      width: 50%; // TODO: for small screens, do width: 115%
    }

    &.active {
      color: $color-trout;

      &:after {
        width: 50%;
        background: #96C0CE;
      }
    }
  }
}