// Main application navbar

.navbar {
  display: flex;
  @include box-shadow;
  box-shadow: 0 0px 3px 0px rgba(0, 0, 0, 0.2);
  background-color: $color-white;
  z-index: 1; // make sure the box-shadow shows over the main content background
  font-size: 14px;
  white-space: nowrap;

  &__link {
    position: relative;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    // padding: 1.4rem;
    cursor: pointer;
    color: $color-fiord;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    font-weight: 300;

    i {
      display: none;
    }

    // Link icons
    .fas {
      margin: 10px;
    }

    &:first-child {
      margin-left: 40px;
    }

    &:after {
      content: "";
      position: absolute;
      display: block;
      right: 50%;
      width: 0;
      height: 3px;
      background: $color-havelock-blue;
      transition: width .3s;
      transform: translateX(53%);
      bottom: 0;
      border-radius: 2px;
    }

    &:hover{
      // background-color: $color-white-smoke;

      &:after {
        width: 75%; // TODO: for small screens, do width: 115%
      }
    }

    &.active {
      color: $color-trout;

      &:after {
        width: 75%;
      }
    }
  }

  .avatar {
    display: flex;
    align-self: center;
    background-image: url('../img/headshot.png');
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
    border: 2px solid rgba(255, 255, 255, .2);
    position: relative;
    margin: 0 26px;
    width: 35px;
    height: 35px;
    cursor: pointer;

    &:after {
      position: absolute;
      content: "";
      width: 6px;
      height: 6px;
      background: none;
      border-left: 2px solid $color-abbey;
      border-bottom: 2px solid $color-abbey;
      transform: rotate(-45deg) translateY(-50%);
      top: 50%;
      right: -18px;
    }
  }
}

@media screen and (min-width: 46.875em) {
  .navbar {
    font-size: 16px;

    &__link {
      i {
        display: inline;
      }

      &:first-child {
        margin: 0;
      }
    }
  }
}