// Play control bar at bottom of screen for current track play

.playcontrol {
  display: flex;
  align-items: center;
  position: fixed;
  bottom: 0;
  height: 90px;
  width: 100%;
  background-color: #fff;
  z-index: 2; // make sure that the album card descriptions don't creep over the play bar
  box-shadow: 0 0 8px rgba(0,0,0,.4);

  &__image {
    position: absolute;
    left: 0;
    top: 0;

    img {
      height: 90px;
      width: auto;
    }
  }

  &__info {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin: 0 20px;
    transform: translateX(90px);
  }

  &__track-title {
    margin: 5px 0;
  }

  &__track-description {
    margin: 0;
  }

  &__play-icons {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    fill: $color-cornflower-blue;

    .icon-play, .icon-pause {
      margin: 15px;
      width: 40px;
      height: 40px;

      &:hover {
        cursor: pointer;
        fill: darken($color-cornflower-blue, 12%);
      }
    }

    .fa-step-backward, .fa-step-forward {
      margin: 15px;
      font-size: 20px;
      color: $color-gray;

      &:hover {
        cursor: pointer;
        color: darken($color-gray, 12%);
      }
    }
  }

  &__more-actions {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    margin: 0 20px;
  }
}

.text {
  display: flex;
}