// playlist detail page

.playlist {
  display: flex;
  flex-direction: column;
  padding: 30px;

  &__info-wrapper {
    display: flex;
    margin-bottom: 20px;
  }

  &__text-wrapper {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 20px;
    margin-left: 20px;
    background-color: $color-white;
  }

  &__img {
    width: 230px;
    height: 230px;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 3px;
  }

  &__title {
    font-size: 33px;
    font-weight: 300;
    color: $color-orange;
  }

  &__description {
    font-size: 18px;
  }
}

.playlist-default-msg {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
  padding: 20px;
  font-size: 25px;
  color: #98a6ad;
}
