.search {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2.5rem;

  &__input-wrapper {
    position: relative;
    display: flex;
    width: 80%;
    max-width: 650px;
  }

  &__input {
    height: 55px;
    width: 100%;
    max-width: 750px;
    font-family: inherit;
    box-sizing: border-box;
    background-color: $color-white;
    border-radius: 2px;
    overflow: hidden;
    outline: none;
    border: 1px solid transparent;
    transition: border 0.1s ease-out;
    color: $color-orange;
    font-size: 1.2rem;
    padding: 1rem;
    padding-left: 58px;
    font-weight: 300;

    &:focus {
      border-bottom: 1px solid #e5e5e5;
    }
  }

  &__icon {
    position: absolute;
    top: 12px;
    left: 16px;
  }
}