.search {
    position: relative;
    display: flex;
    align-items: center;
    width: 350px;

  &__input {
    height: 32px;
    width: 100%;
    max-width: 750px;
    font-family: inherit;
    box-sizing: border-box;
    background-color: $color-white;
    border-radius: 2px;
    overflow: hidden;
    outline: none;
    border: 1px solid transparent;
    transition: border 0.1s ease-out;
    color: $color-mako;
    font-size: 1.2rem;
    padding: 1rem;
    padding-left: 28px;
    font-weight: 300;
  }

  &:after {
    content: "";
    position: absolute;
    height: 1px;
    width: 100%;
    background-color: $color-mercury;
    bottom: -6px;
    left: 0;
  }

  .fa-search {
    position: absolute;
    font-size: 22px;
    color: $color-gray;
  }
}