/**
 * Main application nav menu, sits left of all content.
 * Allows selection of sub-content within each main nav category.
 * Present in every view.
 */

.side-nav {
  position: relative;
  display: flex;
  flex: 2;
  flex-direction: column;
  background-color: $color-white;
  box-shadow: 0 1px 1px 0px rgba(0, 0, 0, 0.2);

  // Just a nice texture img for flare
  &__img {
    position: absolute;
    z-index: 5;
    top: 46px;
    left: 140px;
    height: 70px;
    width: 75px;
    background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAiIGhlaWdodD0iMTAiIHZpZXdCb3g9IjAgMCAxMCAxMCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48dGl0bGU+Yml0LXNtYWxsPC90aXRsZT48cGF0aCBkPSJNNCA0aDF2MUg0eiIgZmlsbD0iIzAwMCIgZmlsbC1ydWxlPSJldmVub2RkIi8+PC9zdmc+');
  }

  // Sits evenly with main nav
  &__title {
    background-color: #96C0CE;
    font-weight: bold;
    font-size: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 65px; /* matches grid row height */
    color: rgba(255, 255, 255, 0.7);
    letter-spacing: 3.5px;
    font-weight: 200;
  }

  // Currently active menu category
  &__header {
    margin: 3rem 20px 0;
    padding: 25px 14px .8rem;
    color: #98a6ad;
    font-size: 18px;
    border-bottom: 1px solid #e7eaf0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  // The main ul
  &__list {
    padding-left: 0;
  }

  &__list-item {
    position: relative;
    list-style-type: none;
    cursor: pointer;
    padding: 17px;
    padding-left: 52px;
    font-size: 16px;
    color: #495259;
    letter-spacing: 1px;
    background-color: $color-white;
    transition: background-color .3s ease;
    font-weight: 300;

    &:hover {
      background-color: $color-wild-sand;
    }

    &.active {
      border-left: 3px solid #71b6f9;
      font-weight: bold;
      color: #71b6f9;

      &:after {
        content: "";
        display: block;
        position: absolute;
        height: 1px;
        width: 50%;
        background-color: #e7eaf0;
        bottom: 3px;
      }
    }
  }
}