/**
 * Main application nav menu, sits left of all content.
 * Allows selection of sub-content within each main nav category.
 * Present in every view.
 */

.side-nav {
  position: fixed;
  width: $sidenav-width;
  height: 100%;
  transform: translateX(-$sidenav-width);
  transition: all .5s ease-in-out;
  z-index: 3;  // must be above play control container on mobile
  background-color: $color-fiord;
  @include box-shadow;

  // Internal side nav close icon
  .fa-times-circle {
    position: absolute;
    visibility: visible;
    right: 12px;
    top: 8px;
    font-size: 20px;
    color: $color-white;
    cursor: pointer;
  }

  // Just a nice texture img for flare
  &__img {
    &:after {
      content: "";
      position: absolute;
      top: 47px;
      left: 130px;
      height: 58px;
      width: 98px;
      background: -moz-radial-gradient(white 15%, transparent 16%), -moz-radial-gradient(white 15%, transparent 16%), black;
      background: -webkit-radial-gradient(rgba(255,255,255,.2) 5%, transparent 16%), -webkit-radial-gradient(rgba(255,255,255,.2) 15%, transparent 16%), transparent;
      background-position: 0 0, 10px 0px;
      -webkit-background-size: 20px 20px;
      -moz-background-size: 20px 20px;
      background-size: 10px 10px;
    }
  }

  // Sits evenly with main nav
  &__title {
    background-color: $color-half-baked;
    font-weight: bold;
    font-size: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 65px; /* matches grid row height */
    color: rgba(255, 255, 255, 0.8);
    letter-spacing: 3.5px;
    font-weight: 200;

    // External side nav open icon, hidden on larger screens
    .fa-bars {
      position: fixed;
      visibility: visible;
      top: 32px;
      transform: translateY(-50%);
      right: -45px; // Should show inside of the main navbar
      color: gray;
      font-size: 28px;
      cursor: pointer;

      &.hidden {
        visibility: hidden;
      }
    }
  }

  // Currently active menu category
  &__header {
    margin: 26px 20px 0;
    padding: 25px 14px .8rem;
    color: #98a6ad;
    font-size: 18px;
    border-bottom: 1px solid #e7eaf0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  // The main ul
  &__list {
    padding-left: 0;
  }

  &__list-item {
    position: relative;
    list-style-type: none;
    cursor: pointer;
    padding: 17px;
    padding-left: 52px;
    font-size: 16px;
    color: $color-white;
    letter-spacing: 1px;
    transition: background-color .3s ease;
    font-weight: 300;

    &:hover {
      background-color: rgba(255,255,255, .2);
    }

    &.active {
      border-left: 3px solid #71b6f9;
      font-weight: bold;
      color: #71b6f9;

      &:after {
        content: "";
        display: block;
        position: absolute;
        height: 1px;
        width: 50%;
        background-color: #e7eaf0;
        bottom: 3px;
      }
    }
  }

  &--active {
    transform: translateX(0);
    overflow-y: auto; // needs inner scroll on mobile
  }
}

@media screen and (min-width: 46.875em) {
  .side-nav {
    position: relative;
    transform: translateX(0);
    z-index: 1;
    overflow: unset;

    &__title {
      .fa-bars {
        visibility: hidden;
      }
    }

    .fa-times-circle {
      visibility: hidden;
    }
  }
}