.track-table {
  width: 100%;
  outline: none;
  color: #3e454c;
  border-collapse: collapse;
  background-color: $color-white;
  border-radius: 3px;

  &__header {
    color: #3e454c;
  }

  &__th {
    padding: 15px;
    color: $color-havelock-blue;
    text-align: left;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }

  &__row {
    background-color: $color-white;
    transition: background-color .3 ease;

    &:hover {
      background-color: $color-wild-sand;
    }
  }

  &__td {
    padding: 16px;
    color: #3e454c;
    border-bottom: 1px solid rgba(0,0,0,0.06);
  }

  &__control-icon {
    display: flex;
    margin-left: 6px;
    fill: $color-cornflower-blue;

    &:hover {
      cursor: pointer;
      fill: darken($color-cornflower-blue, 12%);
    }
  }
}